html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-image: url("../img/fondo.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__img {
  width: 15rem;
  margin: 2rem;
}
.header__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2142857143;
  letter-spacing: -0.0207142857em;
  color: #ffffff;
  font-family: "Exo", sans-serif;
  text-align: center;
  margin: 2rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .header__title {
    font-size: 6rem;
  }
}
@media (min-width: 721px) {
  .header__title {
    font-size: 6rem;
  }
}
.header__text {
  font-weight: 400;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  font-size: 2.2rem;
  color: #212326;
  text-align: center;
  margin: 2rem;
}
@media (min-width: 721px) {
  .header__text {
    font-size: 2.5rem;
  }
}
.header__video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  display: flex;
  font-size: 3rem;
  text-align: center;
  width: 30rem;
  height: 30rem;
  border-color: #212326;
  border-style: dashed;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .header__video {
    width: 40rem;
  }
}
@media (min-width: 721px) {
  .header__video {
    width: 55rem;
    height: 35rem;
  }
}

.form {
  display: flex;
  margin: 2rem;
  flex-direction: column;
}
@media (min-width: 721px) {
  .form {
    padding-top: 4rem;
  }
}
.form__btn {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 0.9rem 4rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.133;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-appearance: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  margin-bottom: 3rem;
  align-self: center;
  background-color: #212326;
  color: #ffffff;
}
@media (min-width: 420px) and (max-width: 720px) {
  .form__btn {
    width: 40rem;
  }
}
@media (min-width: 721px) {
  .form__btn {
    width: 43rem;
    padding: 1.6rem 4rem;
  }
}
.form__btn:hover {
  background-color: orange;
}

.cards {
  display: flex;
  margin-top: 1.5rem;
  gap: 7rem;
  margin-bottom: 6rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 721px) {
  .cards {
    flex-direction: row;
    margin-bottom: 15rem;
    margin-top: 10rem;
  }
}
.cards__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 721px) {
  .cards__presentation {
    margin-bottom: 2.5rem;
  }
}
.cards__gif {
  width: 20rem;
}
.cards__title {
  font-size: 2.5rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .cards__title {
    font-size: 3rem;
  }
}
.cards__subtitle {
  font-size: 2.2rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .cards__subtitle {
    font-size: 2.5rem;
  }
}
@media (min-width: 721px) {
  .cards__subtitle {
    font-size: 2rem;
  }
}

.sponsor {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  flex-direction: column;
}
@media (min-width: 721px) {
  .sponsor {
    padding-top: 3rem;
    flex-direction: row;
    border-color: rgba(0, 0, 0, 0.171);
    gap: 6rem;
  }
}
.sponsor__item {
  width: 9rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .sponsor__item {
    width: 14rem;
  }
}
@media (min-width: 721px) {
  .sponsor__item {
    width: 18rem;
    flex-direction: row;
  }
}

.comment {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 721px) {
  .comment {
    margin-top: 10rem;
  }
}
.comment__ceo {
  font-size: 2rem;
  margin: 3rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .comment__ceo {
    font-size: 2.3rem;
  }
}
.comment__bottom {
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #008060;
  width: 15rem;
  height: 4.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  border-style: none;
  border-radius: 0.6rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .comment__bottom {
    width: 17rem;
    height: 5rem;
  }
}
@media (min-width: 721px) {
  .comment__bottom {
    margin-top: 3rem;
    width: 20rem;
    height: 6rem;
  }
}
.comment__bottom:hover {
  background-color: orange;
}

/*# sourceMappingURL=styles.css.map */
