body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.title-precios {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 50px 0;
}

.table-module {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.table-module__row {
  border-bottom: 1px solid #ececec;
}
.table-module__rows {
  position: relative;
  border-right: 1px solid #ececec;
  padding: 1px 20px;
}
.table-module__rows--back-color {
  border-right: 1px solid #ececec;
  padding: 1px 20px;
  background-color: #f9f9f9;
  width: 40%;
}
.table-module__recommended {
  display: none;
  color: inherit;
  font-family: Grand Hotel, cursive;
  font-size: 3rem;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 5px;
}
.table-module__table_head {
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #008060;
  margin: 0 0 10px;
}
.table-module__row-icon {
  border-right: 1px solid #ececec;
  padding: 1px 20px;
  text-align: center;
  font-size: 1.8rem;
  color: #008060;
}
.table-module__row-icon--color {
  color: black;
  border-right: 1px solid #ececec;
  padding: 1px 20px;
  text-align: center;
  font-size: 1.8rem;
  color: inherit;
}
.table-module__button_wrapp {
  text-transform: uppercase;
  color: orange;
  background: transparent;
  padding: 10px 26px;
  font-size: 2rem;
  line-height: 1.3333333;
  border-radius: 5px;
  border: 2px solid;
  transition: 0.3s;
  position: relative;
  text-align: center;
}
.table-module__button_wrapp:hover {
  background-color: orange;
  color: white;
}

.content-end {
  margin: 0;
  font-size: 18px;
  font-size: 1.8rem;
  color: #767c7e;
  padding: 10rem;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-image: url("../img/fondo.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__img {
  width: 15rem;
  margin: 2rem;
}
.header__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2142857143;
  letter-spacing: -0.0207142857em;
  color: #ffffff;
  font-family: "Exo", sans-serif;
  text-align: center;
  margin: 2rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .header__title {
    font-size: 6rem;
  }
}
@media (min-width: 721px) {
  .header__title {
    font-size: 6rem;
  }
}
.header__text {
  font-weight: 400;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  font-size: 2.2rem;
  color: #212326;
  text-align: center;
  margin: 2rem;
}
@media (min-width: 721px) {
  .header__text {
    font-size: 2.5rem;
  }
}
.header__video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  display: flex;
  font-size: 3rem;
  text-align: center;
  width: 30rem;
  height: 30rem;
  border-color: #212326;
  border-style: dashed;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .header__video {
    width: 40rem;
  }
}
@media (min-width: 721px) {
  .header__video {
    width: 55rem;
    height: 35rem;
  }
}

.allButton {
  display: flex;
  margin: 2rem;
  flex-direction: column;
}
@media (min-width: 721px) {
  .allButton {
    padding-top: 4rem;
  }
}
.allButton__click {
  text-decoration: none;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 0.9rem 4rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.133;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-appearance: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  margin-bottom: 3rem;
  align-self: center;
  background-color: #212326;
  color: #ffffff;
}
@media (min-width: 420px) and (max-width: 720px) {
  .allButton__click {
    width: 40rem;
  }
}
@media (min-width: 721px) {
  .allButton__click {
    width: 43rem;
    padding: 1.6rem 4rem;
  }
}
.allButton__click:hover {
  background-color: orange;
}
.allButton__click--green {
  margin: 0px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  background-color: #008060;
  padding: 1.5rem 5rem;
  border-radius: 0.7rem;
}
.allButton__click--green:hover {
  background-color: orange;
}

.cards {
  display: flex;
  margin-top: 1.5rem;
  gap: 7rem;
  margin-bottom: 6rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 721px) {
  .cards {
    flex-direction: row;
    margin-bottom: 15rem;
    margin-top: 10rem;
  }
}
.cards__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__presentation--frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}
@media (min-width: 721px) {
  .cards__presentation {
    margin-bottom: 2.5rem;
  }
}
.cards__gif {
  width: 20rem;
}
.cards__title {
  font-size: 2.5rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .cards__title {
    font-size: 3rem;
  }
}
.cards__subtitle {
  font-size: 2.2rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .cards__subtitle {
    font-size: 2.5rem;
  }
}
@media (min-width: 721px) {
  .cards__subtitle {
    font-size: 2rem;
  }
}

.sponsor {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  flex-direction: column;
}
@media (min-width: 721px) {
  .sponsor {
    padding-top: 3rem;
    flex-direction: row;
    border-color: rgba(0, 0, 0, 0.171);
    gap: 6rem;
  }
}
.sponsor__item {
  width: 9rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .sponsor__item {
    width: 14rem;
  }
}
@media (min-width: 721px) {
  .sponsor__item {
    width: 18rem;
    flex-direction: row;
  }
}

.comment {
  display: flex;
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 721px) {
  .comment {
    margin-top: 10rem;
  }
}
.comment__ceo {
  font-size: 2rem;
  margin: 1.3rem;
}
@media (min-width: 420px) and (max-width: 720px) {
  .comment__ceo {
    font-size: 2.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
