@use 'variables' as var;
@use 'mixins';
    
html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-image: url("../img/fondo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__img{
        width: 15rem;
        margin:var.$margin-standar;
    }
    &__title{
        font-weight: 700;
        font-size: 4rem;
        line-height: 1.2142857143;
        letter-spacing: -0.0207142857em;
        color: var.$secundary;
        font-family: "Exo", sans-serif;
        text-align: center;
        margin:var.$margin-standar;
        
        @include mixins.tablets{
            font-size: 6rem;
        
    }
    }
    &__text{
        font-weight: 400;
        font-kerning: normal;
        font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
        font-size: 2.2rem;
        color: var.$primary;
        text-align: center;
        margin:var.$margin-standar;
    }
    &__video{
        width:65rem;
        height:75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        display: flex;
        font-size: 3rem;
        text-align: center;
        width: 30rem;
        height: 30rem;
        border-color: var.$primary;
        border-style: dashed;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        @include mixins.tablets{
            font-size: 100px;
        }
    } 
}

.form{
    display: flex;
    margin:var.$margin-standar;
    flex-direction: column;


    &__phone{
        display: inline-block;
        height: 1.5rem;
        width: 28rem;
        margin: 0 0 1rem;
        padding: 1em 0.9375em;
        font-size: 1.5rem;
        box-shadow: 0 0 0 1px #6b7177;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: padding 150ms;
        appearance: none;
        align-self: center;
        @include mixins.background_principal(var.$secundary,var.$primary);
        @include mixins.tablets{
            width: 38rem;
        }
    }

    &__btn{
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
        display: inline-block;
        padding: 0.9rem 4rem;
        border-radius: 4px;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 1.133;
        transition: 150ms ease;
        transition-property: background-color, border-color, box-shadow, color;
        text-align: center;
        -webkit-appearance: none;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        margin-bottom: 3rem;
        align-self: center;
        @include mixins.background_principal();
        @include mixins.tablets{
            width: 40rem;
        }
    }
}

.cards{
    display: flex;
    margin-top: 1.5rem;
    gap: 7rem;
    margin-bottom: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__gif{
        width: 20rem;
    }
    &__title{
        font-size: 2.5rem;
        @include mixins.tablets{
            font-size: 3rem;
        }
    }
    &__subtitle{
        font-size: 2.2rem;
        @include mixins.tablets{
            font-size: 2.5rem;
        }
    }
}

.sponsor{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var.$secundary;
    border-bottom: 1px solid var.$secundary;
    flex-direction: column;
    &__item{
        width: 9rem;
        @include mixins.tablets{
            width: 14rem;
        }
    }
}

.comment{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    &__ceo{
        font-size: 2rem;
        margin: 3rem;
        @include mixins.tablets{
            font-size: 2.3rem;
        }
    }
    &__bottom{
        margin-bottom: 2rem;
        margin-top: 2rem;
        background-color: var.$tertiary;
        width: 15rem;
        height: 4.5rem;
        cursor: pointer;
        text-decoration: none;
        color: var.$secundary;
        font-size: 1.8rem;
        text-align: center;
        border-style: none;
        @include mixins.tablets{
            width: 17rem;
            height: 5rem;
        }
    }
}